.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100vw - 32px);
    padding: 0 16px;
    color: var(--colors-white);
    background-color: var(--colors-primary-900);
    border-bottom: 1px solid var(--colors-primary-50);
    box-shadow: 0px 4px 4px var(--colors-primary-50);
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    min-height: calc(100vh - 168px);
    margin: 24px 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 320px;
    padding: 16px 24px;
    border: 1px solid var(--colors-primary-50);
    border-radius: 8px;
    box-shadow: 0px 4px 4px var(--colors-primary-50);
}

.inputs {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputs textarea, .inputs input {
    margin: 8px 0;
    background-color: var(--colors-white);
    height: 48px;
    width: calc(100% - 32px);
    padding: 0 16px;
    border: 1px solid var(--colors-primary-50);
    border-radius: 4px;
    outline: none;
}

.inputs textarea {
    padding: 8px 16px;
}

.submitButton {
    border-radius: 14px;
    padding: 12px 16px;
    color: var(--colors-white);
    border: none;
    text-align: center;
    background-color: var(--colors-primary-500);
    box-shadow: 0px 8px 4px 0px var(--colors-primary-50);
    font-weight: bold;
}

.output {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    width: 100%;
    padding: 16px 0;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 8px 0;
}

.payments {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.payments p {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.payments p span {
    font-weight: lighter;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 16px;
    color: var(--colors-white);
    background-color: var(--colors-primary-900);
    border-top: 1px solid var(--colors-primary-50);
    box-shadow: 0px 4px 4px var(--colors-primary-50);
}